// font
$font-family: 'Open Sans, Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif' !default;
$font-family-fancy: 'Open Sans, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif, Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI"' !default;
$font-family-code: ' Monaco, Consolas, "Andale Mono", "Ubuntu Mono", monospace';

$theme-color: #747bff;

$sidebar-width: 12rem;